body, h1, h2, h3, 
h4, h5, h6, hr, p, 
blockquote, dl, dt, 
dd, ul, ol, li, pre, 
form, fieldset, legend, 
button, input, textarea, 
th, td{
	margin:0px;
	padding:0px;
}
body{
	font-family:微软雅黑;
}
header{
	width:100%;
	border-top: #ce3d3a 2px solid;
	overflow: hidden;
}
.header-1200{
	width:1200px;
	margin:0 auto;
	position: relative;
}
header h1{
	float:left;
	color:#ce3d3a;
	margin:20px 0;
	font-family:华文彩云;
}
.header-right{
	float:right;
	color: #ce3d3a;
	font-size:18px;
	margin:25px 0;
}

.middle{
	width:100%;
	background:url("../images/background.png") no-repeat center,linear-gradient(left,#ef554d,#d63f50);
	background:url("../images/background.png") no-repeat center,-webkit-linear-gradient(left,#ef554d,#d63f50);
	background:url("../images/background.png") no-repeat center,-o-linear-gradient(left,#ef554d,#d63f50);
	background:url("../images/background.png") no-repeat center,-moz-linear-gradient(left,#ef554d, #d63f50);
	background:url("../images/background.png") no-repeat center,-ms-linear-gradient(left,#ef554d, #d63f50);
}
.middle-1200{
	max-width:1200px;
	height:500px;
	margin:0 auto;
	position: relative;
}
.login{
	box-sizing: content-box;
	width:400px;
	height:300px;
	position:absolute;
	background: white;
	right:60px;
	top:100px;
	border:#9e3336 solid 5px;
}
#login-form{
	width:400px;
	height:300px;
	margin:0px auto;
	border-top-left-radius: 5px;
}
#login-form ul{
	list-style:none;
	width:400px;
	height:50px;
	font-family:微软雅黑;
	font-size:18px;	
	margin-bottom:25px;
}
#login-form ul li{
	float:left;
	width:132.5px;
	height:50px;
	line-height:50px;
	text-align:center;
	cursor:pointer;
}
.on{
	background-color: white;
	color:#d9534f;
}
.off{
	background-color:#f3f3f3; 
	color:black;
}
.login-input{
	width:300px;
	margin:0px auto 20px;
}
.btn-login{
	width:300px;
	margin-left:50px;
	font-family: 微软雅黑;
	font-size:18px;
}
form span:nth-of-type(1){
	color:#b1b8cb;
	margin-left:20px;
	display: block;
	margin-top:20px;
	float: left;
}
form span:nth-of-type(2){
	display: block;
	margin-top:20px;
	float: left;
	color:#b1b8cb;
	margin-left:170px;
}
form span a{
	color:#ce3d3a;
	text-decoration:none;
}
